{% extends 'recipes.html' %}

{% block title %}
    Pancakes
{% endblock %}

{% block ingredients %}
            <li>1 cup all-purpose flour, (spooned and leveled)</li>
            <li>2 tablespoons sugar</li>
            <li>2 teaspoons baking powder</li>
            <li>1/2 teaspoon salt</li>
            <li>1 cup milk</li>
            <li>2 tablespoons unsalted butter, melted, or vegetable oil</li>
            <li>1 large egg</li>
            <li>1 tablespoon vegetable oil</li>
            <li>Various toppings, such as butter, maple syrup, honey, jams, preserves, or chocolate syrup</li>
{% endblock %}
{% block directions %}
            <li>Preheat the oven to 200 degrees Celsius. Make sure to have something to put your ready pancakes.</li>
            <li>Add and mix flour, sugar, baking powder and salt to a small bowl. Leave it aside</li>
            <li>
                Whisk milk, butter (or oil) and egg together in a medium bowl.
                Add contents of the previous bowl and mix them.<br>
                Don't over do it. A few lumps are fine.
            </li>
            <li>Moisten a baking tray with oil and carefully heat it up.</li>
            <li>For each pancake put 2 to 3 tablespoons of batter. Spead it a little with the back of a spoon.</li>
            <li>Bake for around 2 minutes or until you see some bubbles on top.
                Then flip the pancake and bake for another 2 minutes until brown.</li>
            <li>Take out your ready pancakes and cover them to keep the heat. Serve with desired toppings.</li>
{% endblock %}
{% block ending %}
Enjoy your pancakes
{% endblock %}