{% extends 'recipes.html' %}

{% block title %}Polish boneless pork chop (schabowy){% endblock %}
{% block ingredients %}
    <li>600g boneless porkchop</li>
    <li>Salt and pepper</li>
    <li>Milk</li>
    <li>All purpose flour</li>
    <li>2 eggs</li>
    <li>Bread crumbs</li>
    <li>For frying, butter or oil</li>
{% endblock %}
{% block directions %}
    <li>Trim the pork chop and cut to 4 slices.</li>
    <li>Beat every slice until thin. It's best to use special hammer like tool.</li>
    <li>Soak every slice in milk seasoned with salt and pepper. Leave it for 2 hours.</li>
    <li>
        After soaking for 2 hours, take them out and dry them with a paper towel.
        Season lightly with salt and pepper.
    </li>
    <li>Prepare 3 bowls for flour, whisked eggs and bread crumbs - one for each.</li>
    <li>Take each slice and coat evenly with flour, then eggs, then bread crumbs.</li>
    <li>Put butter (or oil) into a sauce pan and heat up on high power.</li>
    <li>
        Place 2 slices into the pan and fry for around 2 minutes on high heat for each side,
        then another 6 minutes on medium heat for each side as well.
    </li>
    <li>Place ready pieces onto a plate with paper towel to drain from excess oil.</li>
    <li>Serve with mashed potatoes and misery (polish cucumber salad)</li>
{% endblock %}
{% block ending %}
Enjoy your delicious lunch
{% endblock %}