{% extends 'recipes.html' %}

{% block title %}Spaghetti al Pomodoro (4 people){% endblock %}
{% block ingredients %}
            <li>500 g of spaghetti</li>
            <li>2 cans of cut tomatoes without skin (around 800g)</li>
            <li>Olive oil</li>
            <li>5 cloves of garlic</li>
            <li>Salt and pepper</li>
            <li>Few basil leaves</li>
            <li>Optional parmigiano reggiano cheese (approx. 100g)</li>
            <li>Optional teaspoon of sugar</li>
{% endblock %}
{% block directions %}
            <li>Coat the bottom of your sauce pan with olive oil and put on high heat.</li>
            <li>Chop your garlic finely and put it in your sauce pan. Cook it without colour.</li>
            <li>
                Start cooking you pasta and put your canned tomatoes into the pan with garlic. <br>
                A good trick for hitting perfect donnes is taking your pasta out 1 minute earlier
                than it's said on the package and draining it. <br>
                Later on we will put it into our sauce which will finish the cooking of the pasta.
            </li>
            <li>Let the sauce cook for roughly 10 minutes on medium heat and let the water evaporate. <br>
                It intensifies the flavour and make the sauce bit thicker.
            </li>
            <li>Add a teaspoon of sugar. Salt and pepper is to your preference. Personally I add a pinch of both.</li>
            <li>Drain your pasta and put it inside the pan with the sauce. Mix them well.</li>
            <li>Your spaghetti is ready to be served. Put it on the plate, cut some basil and cheese, then sprinkle on top of it.</li>
{% endblock %}
{% block ending %}Enjoy your Spaghetti al Pomodoro{% endblock %}
