{% extends 'base bar.html' %}
{% load static %}

{% block header %}
<link href="{% static 'accounts/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <form action="/post/register/data/">
        <label for="username">Your username:</label>
        <input id="username" type="text" name="username" placeholder="username" minlength="2"><br>
        <label for="password">Your Password</label>
        <input id="password" type="text" name="password" placeholder="password" minlength="8"><br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}