{% extends 'base bar.html' %}
{% load static %}

{% block header %}
    <link href="{% static 'menu/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <img src="{% static 'menu/image%201.jpg' %}" alt="" style="width:100%" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="/racuchy/">Racuchy</a>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="{% static 'menu/image%202.jpg' %}" alt="" style="width:100%" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="/racuchy/">Coś nie wiem co</a>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="{% static 'menu/image%203.jpg' %}" alt="" style="width:100%" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="/slodycze/">Słodycze</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}