body {
    background: black;
}

input[type=submit] {
    padding: 10px;
    background-color: #cb9800;
    border-color: #e1b303;
}

.content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content label {
    color: white;
}