<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My CV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index/about.css' %}">
</head>

<body>

<img src="{% static 'index/selfie.jpg' %}" alt="my profile picture" width=217 height=386 class="image">
<div class="contact">
    <span style="font-size: 40px;">Name: Cong Minh</span><br>
    <span style="font-size: 40px;">Surname: Vu</span><br>
    <span>Born: 12.11.2002 in Hanoi Vietnam</span><br>
    <span>Place of residence: Warsaw Poland</span><br>
    <span style="color: #666666; font-size: 25px;"><i>"Plan, imagine, think, visualize, proceed."</i></span>
</div>
<div style="clear: left;"></div>


<div>
    <span class="headlines">Work experience:</span>
    <ul>
        <li style="font-size: 25px;">Translator
            <ul style="font-size: 20px">
                <li>Since 2018 I have been working as a translator, thanks to the ability to speak 3 languages
                    fluently.
                </li>
                <li>I speak Polish (native), English (C1 level done in British Council), Vietnamese (spoken in family)
                    and German (A2/B1).
                </li>
                <li>All of the work was voluntary and for small, private purposes.</li>
                <li>Since I travel a lot, I'm guiding groups around the airport and lead to the correct gates.</li>
            </ul>
            <br>
        </li>
        <li style="font-size: 25px;">Programmer
            <ul style="font-size: 20px">
                <li>June 2020 - I started programming in Python</li>
                <li>February 2021 I released my first project - simple Spotify API handler.</li>
                <li>April-May 2021 - 2 programs for automating Messenger and Librus Synergia using Selenium and Edge
                    webdriver.
                </li>
                <li>May 2021 - My biggest project is Business Comp. This site was built with Django, and it is fully
                    built and maintained by me - from frontend to backend.
                </li>
                <li>I am the author of construction and software for remote controlled robot at school promotion in
                    2019. They were featured as main attraction for my school in Palace of Culture and Science at High
                    School Fair.
                </li>
                <li style="font-size: 15px;"><i>I was learning C/C++ at school, but it wasn't too advanced since other
                    students in the group kept the level down. I started learning Python on my own and passed Matura exam
                    in computer science.</i></li>
            </ul>
            <br>
        </li>
        <li style="font-size: 25px;">Sports Advisor in Decathlon
            <ul style="font-size: 20px">
                <li>03 August 2020 - 02 November 2020</li>
                <li>Shared my passion for sports and helped to choose the right product for it</li>
            </ul>
        </li>
    </ul>
</div>


<div>
    <span class="headlines">Education:</span>
    <ul>
        <li style="font-size: 25px;">CLX High School of Stefan "Grot" Rowecki in Warsaw.
            <ul style="font-size: 20px; padding: 15px;">
                <li>Mathematics, physics and computer science class.</li>
            </ul>
        </li>
        <li style="font-size: 25px;">Current Polish-Japanese Academy Of Information Technology student.
            <ul>
                <li>Currently studying computer science.</li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <span class="headlines">Languages:</span>
    <ul style="font-size: 20px">
        <li>Polish (native)</li>
        <li>English (C1 level done on British Council course)</li>
        <li>Vietnamese (family native)</li>
        <li>German (A2/B1 level done on Geothe Institut course)</li>
    </ul>
</div>

<div>
    <span class="headlines">Additional activity:</span>
    <ul style="font-size: 20px">
        <li>Every year I am a volunteer to gather money for charity Wielka Orkiestra Świątecznej Pomocy.</li>
        <li style="font-size: 15px"><i>My personal record is 3200 zł in few hours.</i></li>
    </ul>
</div>

<div>
    <span class="headlines">Additional skills:</span>
    <ul style="font-size: 20px">
        <li>Team player</li>
        <li>Quickly adapting to new environment</li>
        <li>Good communication skills</li>
        <li>Quick thinking</li>
    </ul>
</div>

<div>
    <span class="headlines">About Me:</span>
    <ul class="info">
        <li>
            I am interested in all technologies of the world. It has been my big passion since small child and with
            every year, I'm more and more into it.
        </li>
        <li>
            I love sports. Currently, training with AZS PJATK which is PJAIT sports division. I also like football,
            swimming, cycling and ice skating.
        </li>
        <li>
            I tend to be very curious about all sorts of things. I spend a lot of time online, researching new technologies and
            news about computer components. I have built, fixed and maintained a lot of them. I love science overall.
            Biology, chemistry and physics are topics I like to learn about. Personally I love listening about history,
            but hate learning it.
        </li>
    </ul>
</div>

<div style="margin-bottom: 25%">
    <span class="headlines">Useful links:</span>
    <div class="links">
        <a href="https://github.com/VitahuHere">GitHub - VitahuHere</a><br>
        <a href="https://www.linkedin.com/in/cong-minh-vu-199417213/">LinkedIn</a>
    </div>
</div>

</body>
</html>