{% extends 'base bar.html' %}
{% load static %}

{% block header %}
    <link href="{% static 'index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <img src="{% static 'index/products/image%2001.jpg' %}" alt="" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="{% url 'spaghetti_al_pomodoro' %}">Spaghetti al Pomodoro</a>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="{% static 'index/products/image%2002.jpg' %}" alt="" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="{% url 'pancakes' %}">Pancakes</a>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="{% static 'index/products/image%2003.jpg' %}" alt="" class="image">
            <div class="overlay">
                <div class="text">
                    <a href="{% url 'porkchop' %}">Pork Chop</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}