body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}

.headlines {
    background: #C22FAE;
    background: -webkit-linear-gradient(to right, #C22FAE 0%, #3125CF 100%);
    background: -moz-linear-gradient(to right, #C22FAE 0%, #3125CF 100%);
    background: linear-gradient(to right, #C22FAE 0%, #3125CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding-top: 20px;
    display: table;
    margin: auto;

}

.image {
    vertical-align: top;
    margin-right: 20px;
    float: left;
}

.contact span {
    font-size: 20px;
    padding-top: 15px;
    display: inline-block;
}

li{
    padding: 5px;
}

.info li {
    font-size: 20px;
    padding-top: 5px;
}

.links a {
    background: #13CF19;
    background: -webkit-linear-gradient(to right, #13CF19 0%, #3DF2EC 100%);
    background: -moz-linear-gradient(to right, #13CF19 0%, #3DF2EC 100%);
    background: linear-gradient(to right, #13CF19 0%, #3DF2EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding-top: 40px;
    display: table;
    margin: auto;
}
