table {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffc0a4;
}



.center{
    text-align: center;
}

.center input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 25px;
    padding: 10px;
    background-color: #ff9800;
    border-color: #ff9100;
    border-radius: 4px;
}